{% extends "layout.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
    <div>
        <h3>Here you upload images that you need to check growth rate about</h3>
    </div>
<div>
    <!--<h2>{{ title }}.</h2>
    <h3>{{ message }}</h3>-->
  <style>

    .thumb {
        height: 75px;
        border: 1px solid #000;
        margin: 10px 5px 0 0;
    }
    </style>

    <form id="Upload_Form" action="http://localhost:50000/uploader" method="POST"
          enctype="multipart/form-data">
        <div class="col-md-12">
            <table width="100%">
                <tbody>
                    <tr>
                        <td>
                            <label class="lableMargin">Image Frame Size in cm x cm :</label>
                            <input class="form-control input-sm required" type="text" id="FrameSize" name="FrameSize" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <table width="100%">
                <tbody>
                    <tr>
                        <td>
                            <input class="btn-small btn btn-xs btn-default" type="file" id="files" name="file" accept="image/*" multiple />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--<input type="file" id="files" name="files[]" multiple />-->
        <div class="col-md-12">
            <table width="100%">
                <tbody>
                    <tr>
                        <td>
                            <output id="list"></output>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <table width="100%">
                <tbody>
                    <tr>
                        <td>
                            <input class="btn-small btn btn-xs btn-default" type="submit" value="Upload" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>

    <!--<input type="file" id="files" name="files[]" multiple />
    <output id="list"></output>-->


    </div>
    <script src="../static/scripts/jquery-3.2.1.min.js"></script>
    <script src="../static/scripts/About.js"></script>
    </body>
</html>
    {% endblock %}
