<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Admin</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>

    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../static/images/apple-icon.png" />
    <link rel="icon" type="image/png" href="../static/images/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <!--  Material Dashboard CSS    -->
    <link href="../static/content/material-dashboard.css" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../static/content/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="../static/sass/font-awesome.min.css" rel="stylesheet" />
    <link href="../static/sass/Material+Icons.css" rel="stylesheet" />
</head>

<body>

    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="../static/images/sidebar-1.jpg">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo">
                <a href="http://www.tresetsolutions.com/" class="simple-text">
                    TresetSolutions
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="{{ url_for('about') }}">
                            <i class="material-icons">dashboard</i>
                            <p>Upload Image Set</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('contact') }}">
                            <i class="material-icons">library_books</i>
                            <p>Report 01</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('Report_02') }}">
                            <i class="material-icons">library_books</i>
                            <p>Report 02</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <div class="content">
                {% block content %}{% endblock %}
                <footer class="footer">
                    <div class="container-fluid">
                        <p class="copyright pull-right">
                            &copy;
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            <a href="http://www.tresetsolutions.com/">TresetSolutions</a>, made with love for a better web
                        </p>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <!--<script src="/static/scripts/jquery-1.10.2.js"></script>-->
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    

    <!--   Core JS Files   -->
    <script src="../static/scripts/jquery-3.2.1.min.js"></script>
    <script src="../static/scripts/bootstrap.min.js"></script>
    <script src="../static/scripts/material.min.js"></script>
    <!--  Charts Plugin -->
    <script src="../static/scripts/chartist.min.js"></script>
    <!--  Dynamic Elements plugin -->
    <script src="../static/scripts/arrive.min.js"></script>
    <!--  PerfectScrollbar Library -->
    <script src="../static/scripts/perfect-scrollbar.jquery.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="../static/scripts/bootstrap-notify.js"></script>
    <!-- Material Dashboard javascript methods -->
    <script src="../static/scripts/material-dashboard.js"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="../static/scripts/demo.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            // Javascript method's body can be found in assets/js/demos.js
            demo.initDashboardPageCharts();

        });
    </script>

    {% block scripts %}{% endblock %}

</body>
</html>
