<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="content">
        {% block content %}{% endblock %}
        
        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy;
                    <script>
                                document.write(new Date().getFullYear())
                    </script>
                    <a href="http://www.tresetsolutions.com/">TresetSolutions</a>, made with love for a better web
                </p>
            </div>
        </footer>
    </div>
</body>
</html>